<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.menus.mainmenu.commands.category"
            name="Capacity Planning Category">
      </category>
      <command
            categoryId="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.menus.mainmenu.commands.category"
            id="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.commandStorage"
            name="Storage">
      </command>
      <command
            categoryId="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.menus.mainmenu.commands.category"
            id="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.commandNetwork"
            name="Network">
      </command>mmand>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.storage.StorageVolumetrics"
            commandId="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.commandStorage">
      </handler>
      <handler
            class="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.network.NetworkVolumetrics"
            commandId="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.commandNetwork">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="co.edu.uniandes.archimate.analysis.menus.mainmenu"
               label="ArchiAnalysis"
               mnemonic="M"
               tooltip="ArchiAnalysis">
            <menu
                  icon="icons/menu-16.png"
                  id="co.edu.uniandes.archimate.analysis.menus.mainmenu.quantitative.capacityplanning"
                  label="Capacity Planning"
                  mnemonic="F">
               <command
                     commandId="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.commandStorage"
                     icon="icons/analysis-16.png"
                     label="Estimate overall solution architecture storage volumetric"
                     mnemonic="v"
                     style="push"
                     tooltip="Estimate overall solution architecture storage volumetric">
               </command>
               <command
                     commandId="co.edu.uniandes.archimate.analysis.quantitative.capacityplanning.commandNetwork"
                     icon="icons/analysis-16.png"
                     label="Estimate overall solution architecture network volumetrics"
                     mnemonic="n"
                     style="push"
                     tooltip="Estimate overall solution architecture network volumetrics">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>

</plugin>
