<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <command
            defaultHandler="co.edu.uniandes.archimate.analysis.functional.hr.raci.RaciMatrix"
            id="co.edu.uniandes.archimate.analysis.functional.hr.raci.RaciMatrix"
            name="RACI">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu id="co.edu.uniandes.archimate.analysis.menus.mainmenu" label="ArchiAnalysis">
            <menu
                  icon="icons/menu-16.png"
                  id="co.edu.uniandes.archimate.analysis.menus.mainmenu.hr"
                  label="Functional HR">
               <command
                     commandId="co.edu.uniandes.archimate.analysis.functional.hr.raci.RaciMatrix"
                     icon="icons/analysis-16.png"
                     label="RACI"
                     style="push"
                     tooltip="RACI Matrix">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
</plugin>
