<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/ArchiAnalysis-16.png"
               id="co.edu.uniandes.archimate.analysis.menus.mainmenu"
               label="ArchiAnalysis"
               mnemonic="A"
               tooltip="ArchiAnalysis">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=show_view_end">
         <separator
               name="co.edu.uniandes.archimate.analysis.separator2"
               visible="true">
         </separator>
         <command
               commandId="co.edu.uniandes.archimate.analysis.showAnalysisLogView"
               icon="icons/log-16.png"
               id="co.edu.uniandes.archimate.analysis.menuitem.showAnalysisLogView"
               label="ArchiAnalysis log"
               style="push">
         </command>
         <command
               commandId="co.edu.uniandes.archimate.analysis.showAnalysisResultsView"
               icon="icons/results-16.png"
               id="co.edu.uniandes.archimate.analysis.menuitem.showAnalysisResultsView"
               label="ArchiAnalysis results"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=additions">
         <separator
               name="co.edu.uniandes.archimate.analysis.separator1"
               visible="true">
         </separator>
         <command
               commandId="co.edu.uniandes.archimate.analysis.showAnalysisLogView"
               icon="icons/log-16.png"
               id="co.edu.uniandes.archimate.analysis.menuitem.showAnalysisView"
               label="ArchiAnalysis log"
               style="push">
         </command>
         <command
               commandId="co.edu.uniandes.archimate.analysis.showAnalysisResultsView"
               icon="icons/results-16.png"
               id="co.edu.uniandes.archimate.analysis.menuitem.showAnalysisResultsView"
               label="ArchiAnalysis result"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="co.edu.uniandes.archimate.analysis.views.ShowAnalysisLogViewHandler"
            id="co.edu.uniandes.archimate.analysis.showAnalysisLogView"
            name="ShowAnalysisLogView">
      </command>
      <command
            defaultHandler="co.edu.uniandes.archimate.analysis.views.ShowAnalysisResultsViewHandler"
            id="co.edu.uniandes.archimate.analysis.showAnalysisResultsView"
            name="ShowAnalysisResultsView">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="co.edu.uniandes.archimate.analysis.showAnalysisLogView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+7">
      </key>
      <key
            commandId="co.edu.uniandes.archimate.analysis.showAnalysisResultsView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+8">
      </key>
   </extension>
  
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="co.edu.uniandes.archimate.analysis.views.ArchiAnalysisLogView"
               minimized="false"
               relationship="bottom">
         </view>
         <view
               id="co.edu.uniandes.archimate.analysis.views.ArchiAnalysisResultsView"
               minimized="false"
               relationship="bottom">
         </view>
      </perspectiveExtension>
   </extension> <extension
         point="org.eclipse.ui.views">
      <view
            class="co.edu.uniandes.archimate.analysis.views.ArchiAnalysisLogView"
            icon="icons/log-16.png"
            id="co.edu.uniandes.archimate.analysis.views.ArchiAnalysisLogView"
            name="ArchiAnalysis log"
            restorable="true">
      </view>
      <view
            class="co.edu.uniandes.archimate.analysis.views.ArchiAnalysisResultsView"
            icon="icons/results-16.png"
            id="co.edu.uniandes.archimate.analysis.views.ArchiAnalysisResultsView"
            name="ArchiAnalysis results"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="co.edu.uniandes.archimate.analysis.views.ArchiAnalysisLogView"
               minimized="false"
               relationship="bottom">
         </view>
         <view
               id="co.edu.uniandes.archimate.analysis.views.ArchiAnalysisResultsView"
               minimized="false"
               relationship="bottom">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
